.launchPadContainer {
  display: flex;
  transition: height 0.2s ease-in-out;
}
.launchPadPaper {
  transition: height 0.2s ease-in-out;
}
h5.launchPadHeading {
  display: flex;
  align-items: center;
  font-family: "Poppins";
  font-weight: 500;
}
h5.launchPadHeading span {
  font-weight: 400;
}

div.launchPadDetails {
  padding: 1rem;
  position: relative;
  z-index: 10;
  transition: height 0.2s;
}
div.launchPadDetails:hover p.launchPadDescription {
  display: none;
}
div.launchPadDetails:hover p.launchPadComplete {
  opacity: 1;
  height: auto;
}
p.launchPadDescription {
  transition: all 0.2s;
  font-family: "Lato";
}
p.launchPadComplete {
  font-family: "Lato";
  z-index: 10;
  transition: opacity 1s linear;
  opacity: 0;
  height: 0;
  overflow: hidden;
}
.lauchesList {
  font-family: "Lato";
  background-color: #eee;
  border-radius: 0.5rem;
}
